.header {
	width: 100%;
	background: #222;
}

.header-container {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #222;
	color: white;
	top: 0;
	z-index: 1000;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
}

.header-line {
	display: none;
}

/* ナビゲーション */
.nav {
	display: flex;
	gap: 20px;
}

.nav a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	transition: color 0.3s;
}

.nav a:hover {
	color: #ffcc00;
}

/* ハンバーガーメニュー */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 8px;
	cursor: pointer;
}

.hamburger-menu span {
	width: 30px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transition: 0.3s;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
	.header {
		padding: 20px 0;
	}

	.header-container {
		display: flex;
		justify-content: center;
		width: 90%;
		gap: 50px;
		margin: auto;
	}

	.nav {
		display: none;
		flex-direction: column;
		gap: 15px;
		position: absolute;
		top: 60px;
		right: 0;
		background: #222;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	.header-line {
		display: none;
	}

	.nav a {
		display: block;
		padding: 10px;
	}

	.hamburger-menu {
		display: flex;
	}

	/* ハンバーガー開閉アニメーション */
	.nav.active {
		display: flex;
	}

	.hamburger-menu.active span:nth-child(1) {
		transform: rotate(45deg) translate(5px, 5px);
	}

	.hamburger-menu.active span:nth-child(2) {
		opacity: 0;
	}

	.hamburger-menu.active span:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -5px);
	}
}